body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:676px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9314 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:106px;
  width:493px;
  height:340px;
}
#u9315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9316 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:178px;
  width:57px;
  height:16px;
}
#u9317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9318 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:294px;
  width:57px;
  height:16px;
}
#u9319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9320 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:116px;
  width:120px;
  height:34px;
}
#u9321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
