body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:343px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7397 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:84px;
  width:100px;
  height:60px;
}
#u7398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7397_ref {
  border-width:0px;
  position:absolute;
  left:275px;
  top:134px;
  width:1px;
  height:1px;
}
#u7399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7399 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:154px;
  width:100px;
  height:60px;
}
#u7400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7399_ref {
  border-width:0px;
  position:absolute;
  left:335px;
  top:204px;
  width:1px;
  height:1px;
}
#u7401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7401 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:224px;
  width:100px;
  height:60px;
}
#u7402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7401_ref {
  border-width:0px;
  position:absolute;
  left:335px;
  top:274px;
  width:1px;
  height:1px;
}
#u7403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7403 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:294px;
  width:100px;
  height:60px;
}
#u7404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7403_ref {
  border-width:0px;
  position:absolute;
  left:335px;
  top:344px;
  width:1px;
  height:1px;
}
#u7405 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:144px;
  width:0px;
  height:0px;
}
#u7405_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u7405_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:14px;
  height:8px;
}
#u7406 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7407 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:144px;
  width:0px;
  height:0px;
}
#u7407_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u7407_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:72px;
  width:11px;
  height:8px;
}
#u7407_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:72px;
  width:8px;
  height:42px;
}
#u7407_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:106px;
  width:17px;
  height:8px;
}
#u7408 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7409 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:144px;
  width:0px;
  height:0px;
}
#u7409_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u7409_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:72px;
  width:11px;
  height:8px;
}
#u7409_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:72px;
  width:8px;
  height:112px;
}
#u7409_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:176px;
  width:17px;
  height:8px;
}
#u7410 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
