body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:987px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:2px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:55px;
  width:953px;
  height:1px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:949px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:26px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
